name: CI
on: [push, pull_request]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: Build agda.compose
        run: nix -L build .#agda-compose -o agda-compose
      - name: Create release
        run: |
          gh release upload agda-compose agda-compose/agda.compose --clobber
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
